html{
    /* #3494e6 */
    /* #ec6ead */
    background: linear-gradient(to right,#141e30,#243b55,#141e30); /* Standard syntax */
    text-align: center;

}

.login{
    position: absolute;
    left: 25%;
    top:30%;
    text-align: center;
    background-color: #555;
    width:50%;
    height:300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
    background: #111;   
    
}
.submit_btn{
    background: transparent;
    color:white;
    width: 20%;
}
.input_form{
    width:70%;
    margin-top: 6%;
    height: 30px;

    background: transparent;
}

@media screen and (max-width: 700px) {
    .login{
        left:5%;
        width:90%;

        

    }
}